*{box-sizing: border-box;}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #232741;
}
/* ::selection {
  background: #000;
  color: #fff;
} */

::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgb(100, 100, 100);
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color:#26a69a;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




nav {padding: 0 15px}
.page-footer {padding: 0}
.container {
  max-width: 1332px;
  margin: 0 auto;
}
.content {
  min-height: calc(100vh - 64px - 50px);
  padding: 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &-block{display: block;}
}


.input-field-text-area {
  font-size: 18px !important;
  color: #fff !important;
}


.card {
  display: flex;
  flex-direction: column;
  margin: 15px;
  height: 100%;
  width: 270px;
    &-content {
      width: 95%;
      position: absolute;
      bottom: 0;
      z-index: 20;
      display: flex;
      justify-content: space-between;
      margin: 7px;
      &-info {
        color: #fff;
        padding: 3px 5px;
        background: rgb(100, 57, 255);
        border-radius: 3px;
      }
    }
    &-title {
      color: #fff;
      line-height: 1;
      flex-grow: 1;
    }
    &-image {
      position: relative;
      height: 350px;
      // height: 400px;
      img{
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
      }
    }
  }
  
  
  .card .card-content {
    padding: 0;
  }
  
  .card-info {
    padding: 18px;
    background-color: #202020;
    font-weight: 400;
    transition: all .3s ease;
    &:hover {
      background-color:rgb(100, 57, 255);
    }
}


.btn {
  margin: 15px 0;
}


.film-page {
  color: white;

}

.page {
  &-top {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  &-div-img{
    display: flex;
    flex-wrap: wrap;
  }
  &-img{
    max-height: 500px;
    max-width: 100%;
  }
  &-text {
    padding: 20px 0;
    font-size: 20px;
  }
  &-info:not(:first-child) {
    font-size: 17px;
  }
}




@media (max-width: 620px) {
  .page-div-img {
    justify-content: center;
  }
}



.MuiPagination-root {
  background-color: #fff;
  display: flex;
  justify-content: center;
}