*{box-sizing: border-box;}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::selection {
  background: #000;
  color: #fff;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


nav {padding: 0 15px}
.page-footer {padding: 0}
.container {
  max-width: 1332px;
  margin: 0 auto;
}
.content {
  min-height: calc(100vh - 64px - 50px);
  // min-height: calc(100vh - 64px - 50px);
  padding: 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &-block{display: block;}
}


.card {
  margin: 15px;
  height: 500px;
  width: 270px;
    &-content {
      display: flex;
      justify-content: space-between;
    }
    &-title {
      line-height: 0;
    }
    &-image {
      height: 400px;
      img{
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
      }
    }
}


.card .card-content {
  padding: 0;
}

.card-info {
  padding: 18px;
  flex-grow: 1;
}


.btn {
  margin: 15px 0;
}

.page {
  &-top {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  &-div-img{
    display: flex;
    flex-wrap: wrap;
  }
  &-img{
    max-height: 500px;
    max-width: 100%;
  }
  &-text {
    padding: 20px 0;
  }
}




@media (max-width: 620px) {
  .page-div-img {
    justify-content: center;
  }
}